name: Testing

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  run-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["2.7", "3.5", "3.6", "3.7", "3.8", "3.9"]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Update pip and install requirements
        run: |
          python -m pip install --upgrade pip
          pip install -e .[dev]
      - name: Run tests for Python ${{ matrix.python-version }}
        run: |
          py.test

  coverage:
    needs: run-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: "3.x"
      - name: Setup virtual environment
        run: |
          python -m pip install --upgrade pip
          pip install -e .[dev]
      - name: Make coverage
        run: |
          py.test --cov --cov-report=xml
      - name: Upload coverage
        uses: codecov/codecov-action@v1
        with:
          file: ./coverage.xml
          fail_ci_if_error: true
